/* ------------------------------------------------------------------------------------------------------------------ */

.banniere {
  background-image: url("../images/Ponton-sur-l-etang.jpg");
  background-position: center;
  background-size: cover;

  height: 300px;
}

/* ------------------------------------------------------------------------------------------------------------------ */