

$ff-heading: "Source Sans Pro", sans-serif;
$ff-normal: "Source Sans Pro", sans-serif;

$fz-text-normal: rem(16);

$lh-thin: 1.1;
$lh-large: 1.5;

$fw-light: 300;
$fw-regular: 400;
$fw-semi-bold: 500;
$fw-bold: 700;


