/* ------------------------------------------------------------------------------------------------------------------ */

body {
  background-color: $color-white;
  font-size: $fz-text-normal;
  font-family: $ff-normal;
  line-height: $lh-thin;
  color: $color-text;
}

/* ------------------------------------------------------------------------------------------------------------------ */