/* ------------------------------------------------------------------------------------------------------------------ */

button, a {
  text-decoration: none;
  color: $color-link;

  &:hover {
    color: $color-link-hover;
  }
}

/* ------------------------------------------------------------------------------------------------------------------ */